{
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
			"experimentalObjectRestSpread": true,
			"jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true
	},
	"plugins": [
		"react",
		"react-hooks"
	],
  "extends": [
		"@10up/eslint-config",
		"plugin:react/recommended"
	],
  "rules": {
    "yoda": [ 2 ],
    "indent": [ 2, "tab", { "SwitchCase": 2 } ],
    "linebreak-style": [ 2, "unix" ],
    "quotes": [ 2, "single" ],
    "semi": [ 2, "always" ],
    "space-in-parens": [ 2, "always" ],
    "no-console": [ 1 ],
    "no-alert": [ 1 ],
    "no-unused-vars": [ "warn" ],
    "require-jsdoc": [ "warn" ],
    "react/display-name": [ "warn" ],
		"camelcase": [ 2 ],
		"react-hooks/rules-of-hooks": "error",
		"react/prop-types": [1]
  },
  "globals": {
    "MSR_Uploaders": true,
	  "wp": true,
	  "lodash": true,
    "React": true,
	  "MSRGB": true
  },
	"settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "detect",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [
        "forbidExtraProps",
        {"property": "freeze", "object": "Object"},
        {"property": "myFavoriteWrapper"}
    ]
  }
}
